[project]
name = "yfmcp"
version = "0.5.0"
description = ""
readme = "README.md"
authors = [{ name = "narumi", email = "toucans-cutouts0f@icloud.com" }]
requires-python = ">=3.12"
dependencies = [
    "loguru>=0.7.3",
    "mcp[cli]>=1.6.0",
    "mplfinance>=0.12.9",
    "tabulate>=0.9.0",
    "yfinance>=0.2.66",
]

[project.scripts]
yfmcp = "yfmcp.server:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "anyio[trio]>=4.9.0",
    "pip>=25.0.1",
    "pytest>=8.3.3",
    "pytest-asyncio>=0.26.0",
    "pytest-cov>=6.0.0",
    "ruff>=0.7.3",
    "ty>=0.0.1a27",
]

[tool.ruff]
exclude = ["build"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C",   # flake8-comprehensions
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "N",   # pep8-naming
    "SIM", # flake8-simplify
    "UP",  # pyupgrade
    "W",   # pycodestyle warnings
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.lint.isort]
force-single-line = true

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.ty.rules]
unresolved-attribute = "ignore"

[tool.bumpversion]
current_version = "0.5.0"
tag = true
commit = true
pre_commit_hooks = ["uv lock", "git add uv.lock"]
